*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-image: url(./img/backGround.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
     font-size: 70px;
     color: aliceblue;
     font-family: "Italiana", sans-serif;
   font-weight: 400;
   font-style: normal;
   align-items: center;
   justify-content: center;
   display:flex;
   margin-top: 20px;
 }


.box1{
    color: aliceblue;
    margin-left: 45vh;
    position: absolute;
    height: 60vh;
    width: 45vh;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 30px;
    margin-top: 8vh;
    font-weight: 20px;
}

.box2{
    margin-left: 120vh;
    position: absolute;
    height: 60vh;
    width: 45vh;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 30px;
    margin-top: 8vh;

}

h2{
    font-size: 15px;
    margin: 30px;
    color: rgba(240, 248, 255, 0.63);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

footer{

}

.mensagem{
    margin-left: 50vh;
    margin-top: 80vh;
    height: 6vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
   
}

.mensagem textarea{
    height: 20px;
    font-size: 15px;
    margin: 20px;
    border-color:rgba(240, 248, 255, 0);;
    background-color: rgba(240, 248, 255, 0);
    color: rgba(255, 255, 255, 0.63);
  
}

button{
    margin-top: -60px;
    margin-left: 153vh;
    background-color: rgba(240, 248, 255, 0);
   
}

button img{
    width: 35px;
}