*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-image: url(./img/backGround.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
   padding-top: 18vh;
   padding-left: 30vh;
    font-size: 70px;
    color: aliceblue;
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main{

    padding-top: 27px;
    padding-left: 16vh;
}
div{
    position: absolute;
    height: 48vh;
    width: 45vh;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 50px
}

div h2{
    padding-bottom: 50px;
    padding-top: 40px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display:flex;
}

input{
    margin-left: 9vh;
    display: block;
    margin-bottom: 60px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 17px;
    border-color: rgba(0, 0, 0, 0);
}

button{

    margin-top: 20px;
    border-color: #014562;
    font-size: 20px;
    background-color: #014562;;
    margin-left: 15vh;
    width: 15vh;
}

